doctype strict
html(lang="en")
  head
    meta(charset='utf-8')
    title helium
    link(rel='stylesheet' href='main.css')
    link(rel='icon' href='favicon.svg')
  body
    h1.title
      span.highl 404
      div
        | This page does not exist
        br
      // h1 #WEEKLY Challenge &numero;#{chal}