doctype strict
html(lang="en")
  head
    meta(charset="utf-8")
    title Helium
    link(rel="stylesheet" href="main.css")
    link(rel="icon" href="favicon.svg")
  body
    h1.title Hello there, #{name}
    form
      div.sect
        input(type="text" placeholder="your message")