doctype strict
html(lang="en")
  head
    meta(charset="utf-8")
    title Helium
    link(rel="stylesheet" href="main.css")
    link(rel="icon" href="favicon.svg")
  body
    unless name
      h1.title
        span.highl helium
      div
        | A simple chatapp.
        br
        hr
        div
          script(src="https://cdn.jsdelivr.net/gh/firefish111/repl-auth-improved/auth.js" authed="document.reload()")
  